.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader .icon {
  border: 10px solid #eee;
  border-radius: 50%;
  border-top: 10px solid #78ce44;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.isloading .loader .icon {
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
  opacity: 1;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
