.search-contacts input {
  font-family: "Nunito", sans-serif;
  color: #b3b3b3;
  font-size: 18px;
  width: 80%;
  padding: 0;
  display: block;
  margin: auto;
  border: none;
  outline: none;
  height: 0;
  transition: height 0.3s linear;
}

.display input {
  padding: 5px 10px;
  height: 30px;
}
